doctype html
html(lang="en")
	head
		title Webline

		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="description" content="Website")
		meta(name="keywords" content="Website")

		//- <!-- Slick SLIDER -->
		//- link(rel="stylesheet" href="css/slick/slick-theme.css")
		//- link(rel="stylesheet" href="css/slick/slick.css")
		//- <!-- Slick SLIDER -->

		link(rel="stylesheet" href="css/animate.css")
		
		link(rel="stylesheet" href="fonts/GothamPro/stylesheet.css")

		<!-- ** MAIN STYLE ** -->
		link(rel="stylesheet" href="css/style.css")


	block body
