.section-right__chatting
	.chatting__block
		.chatting__item
			.item__photo
				.photo
					img(src="img/user.jpeg" alt="User")
				.mark
					img(src="img/twitch.svg" alt="Ico")
			.item__inner
				.item__top
					h4.item__name Система
					.item__muted
						img(src="img/muted.svg" alt="Menu")
					button.item__menu
						img(src="img/chat-menu.svg" alt="Menu")
					time.item__time 12:46
				.item__text
					p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
				ul.item__dropdown
					li
						a(href="#") Скрыть сообщение
					li(onclick="showNotice('block-chat')")
						a(href="#") Заглушить
					li
						a(href="#") Блокировать 1ч
					li
						a(href="#") Бан чата
					li.li__delete
						a(href="#") Удалить
		.chatting__item.chatting__item_muted
			.item__photo
				.photo
					img(src="img/user.jpeg" alt="User")
				.mark
					img(src="img/twitch.svg" alt="Ico")
			.item__inner
				.item__top
					h4.item__name Система
					.item__muted
						img(src="img/muted.svg" alt="Menu")
					button.item__menu
						img(src="img/chat-menu.svg" alt="Menu")
					time.item__time 12:46
				.item__text
					p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
				ul.item__dropdown
					li
						a(href="#") Скрыть сообщение
					li(onclick="showNotice('block-chat')")
						a(href="#") Заглушить
					li
						a(href="#") Блокировать 1ч
					li
						a(href="#") Бан чата
					li.li__delete
						a(href="#") Удалить
		.chatting__item.chatting__item_system
			.item__photo
				.photo
					img(src="img/user.jpeg" alt="User")
				.mark
					img(src="img/twitch.svg" alt="Ico")
			.item__inner
				.item__top
					h4.item__name Система
					.item__muted
						img(src="img/muted.svg" alt="Menu")
					button.item__menu
						img(src="img/chat-menu.svg" alt="Menu")
					time.item__time 12:46
				.item__text
					p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
				ul.item__dropdown
					li
						a(href="#") Скрыть сообщение
					li(onclick="showNotice('block-chat')")
						a(href="#") Заглушить
					li
						a(href="#") Блокировать 1ч
					li
						a(href="#") Бан чата
					li.li__delete
						a(href="#") Удалить
		.chatting__item
			.item__photo
				.photo
					img(src="img/user.jpeg" alt="User")
				.mark
					img(src="img/twitch.svg" alt="Ico")
			.item__inner
				.item__top
					h4.item__name Система
					.item__muted
						img(src="img/muted.svg" alt="Menu")
					button.item__menu
						img(src="img/chat-menu.svg" alt="Menu")
					time.item__time 12:46
				.item__text
					p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
				ul.item__dropdown
					li
						a(href="#") Скрыть сообщение
					li(onclick="showNotice('block-chat')")
						a(href="#") Заглушить
					li
						a(href="#") Блокировать 1ч
					li
						a(href="#") Бан чата
					li.li__delete
						a(href="#") Удалить
		.chatting__item
			.item__photo
				.photo
					img(src="img/user.jpeg" alt="User")
				.mark
					img(src="img/twitch.svg" alt="Ico")
			.item__inner
				.item__top
					h4.item__name Система
					.item__muted
						img(src="img/muted.svg" alt="Menu")
					button.item__menu
						img(src="img/chat-menu.svg" alt="Menu")
					time.item__time 12:46
				.item__text
					p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
				ul.item__dropdown
					li
						a(href="#") Скрыть сообщение
					li(onclick="showNotice('block-chat')")
						a(href="#") Заглушить
					li
						a(href="#") Блокировать 1ч
					li
						a(href="#") Бан чата
					li.li__delete
						a(href="#") Удалить
	.section-right__smiles
		.smiles__inner
			.smiles__block
				ul
					li
						button
							img(src="img/Bitmap-0.png" alt="Smile")
					li
						button
							img(src="img/Bitmap-1.png" alt="Smile")
					li
						button
							img(src="img/Bitmap-2.png" alt="Smile")
					li
						button
							img(src="img/Bitmap-3.png" alt="Smile")
					li
						button
							img(src="img/Bitmap-4.png" alt="Smile")
					li
						button
							img(src="img/Bitmap-5.png" alt="Smile")
					li
						button
							img(src="img/Bitmap-0.png" alt="Smile")
					li
						button
							img(src="img/Bitmap-1.png" alt="Smile")
					li
						button
							img(src="img/Bitmap-2.png" alt="Smile")
					li
						button
							img(src="img/Bitmap-3.png" alt="Smile")
					li
						button
							img(src="img/Bitmap-4.png" alt="Smile")
					li
						button
							img(src="img/Bitmap-5.png" alt="Smile")
		.smiles__switches
			ul
				li
					button Смайлики
				li.li_active
					button Стикеры «Фермер»
				li
					button «Стикеры Грибник»
				li
					button Смайлики
				li
					button Стикеры «Фермер»
				li
					button «Стикеры Грибник»
	.section-right__rules
		.rules__block
			h2 Правила чата
			h3 Запрещается:
			p · Использовать в никнейме название или ссылки ведущие на сторонний сайт
			br
			p · Рекламировать каналы Youtube / Twitch
			br
			p · Оскорблять других участников чата / сайта.
			br
			p · Упоминание платежных реквизитов в целях попрошайничества.
			br
			p · Распространять URL ссылки и промо-коды (кроме Администрации и Модераторов).
			br
			p · Спамить сообщения в чат по одному символу.
			br
			p Любой участник сайта/чата, должен с уважением относится ко всем без исключения участникам.
	.section-right__resources
		button.resources__button Правила чата
		a(href="terms.html").resources__button Пользовательское соглашение
	form(action="#").section-right__bottom
		label.textarea
			input(placeholder="Сообщение" maxlength="150")
			span.maxl 0/150
		button.smiles(onclick="document.querySelector('.section-right__smiles').classList.toggle('section-right__smiles_active')")
			img(src="img/smile-1.png" alt="Smile")
		button.send
			img(src="img/send-message.svg" alt="Ico")
