.section-right__notice
	.notice__item.notice__block-chat
		span Доступ к чату заблокирован, ограничения снимутся через 00:15:32 
		img(src="img/status-error.svg" alt="Ico")

	.notice__item.notice__pererab
		span Переработано
		img(src="img/green-check.svg" alt="Ico")
			
	.notice__item.notice__sleepers-bought
		span Спальники куплены
		img(src="img/green-check.svg" alt="Ico")

	.notice__item.notice__no-cash
		span Недостаточно средств
		img(src="img/status-error.svg" alt="Ico")

	.notice__item.notice__add-cart
		span Добавлен в корзину
		img(src="img/green-check.svg" alt="Check")
