section.section-right
	.section-right__top
		button.top__item
			span Навигатор
		button.top__item.top__item_active
			span Чат
			.people
				img(src="img/users.svg" alt="Ico")
				span 176

	.section-right__switcher
		.section-right__item

		.section-right__item.section-right_active
			include chat.pug