section.section-right
	.section-right__top
		button.top__item.top__item_active
			span Переработчик
		button.top__item
			span Чат
			.people
				img(src="img/users.svg" alt="Ico")
				span 176

	.section-right__switcher

		include notice.pug

		.section-right__item.section-right_active

			.postamat.storage
				.postamat__search
					input(type="text" placeholder="Поиск")
					button
						img(src="img/search.svg" alt="Search")
				form(action="#").postamat__filter
					input(type="radio" checked name="filter")#filterPrice
					label(for="filterPrice").filter__item.filter__price
						span По цене
						input(type="checkbox" name="upDown")
						img(src="img/filter.svg" alt="filter")
					input(type="radio" name="filter")#filterCool
					label(for="filterCool").filter__item.filter__item_active.filter__cool
						span По раритетности
						input(type="checkbox" name="upDown")
						img(src="img/filter.svg" alt="filter")
					button.filter__reload
						img(src="img/reload.svg" alt="filter")
						span Обновить

				hr

				ul.postamat__block
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/skin.png" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 3000
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/user.jpeg" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 1000
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/user2.jpeg" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 200
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/user2.png" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 123
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/skin.png" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 423
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/skin.png" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 124
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/skin.png" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 251
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/skin.png" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 765
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/skin.png" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 8231
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/skin.png" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 47
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/skin.png" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 32
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/skin.png" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 51
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/skin.png" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 12
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/skin.png" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 56
					li.postamat__item
						.item__check
							img(src="img/green-check.svg" alt="Check")
						.item__count 2
						.item__cool.clothes__cool_green
						.item__photo
							img(src="img/skin.png" alt="Skin")
						.item__price
							img(src="img/header__coins.svg" alt="Ico")
							span 918

				.storage__zone
					.zone__empty
						p Выберите предмет для вывода
					button.zone__button
						img(src="img/arr-r-t.svg" alt="Ico")
						span Вывести предметы
						.zone__count 2
						



		.section-right__item
			include chat.pug