section.section-right
	.section-right__top
		button.top__item.top__item_active
			span Аирдроп
		button.top__item
			span Чат
			.people
				img(src="img/users.svg" alt="Ico")
				span 176

	.section-right__switcher
		
		include notice.pug

		.section-right__item.section-right_active

			.section-right__airdrop
				.airdrop__block
					.airdrop__fly
						.fly__top
							p До вылета:
							.timer
								.min
									span **
								.sec
									small.dot .
									span **
							script.
								document.addEventListener('DOMContentLoaded', () => {
									timerMilisec('.fly__top', 20) // timerMilisec(Родитель, Секунды)
								})
						.fly__bottom
							.fly__timer
								img(src="img/line-for-right.svg" alt="Ico")
								.line
									.line_done
					.airdrop__bank
						p В банке
						.coins
							img(src="img/header__coins.svg" alt="Ico")
							span 1870

				.airdrop__sleepers
					h3 Кол-во спальников:
					ul
						li
							button 1
						li
							button 2
						li
							button 3
						li
							button 4
						li
							button 5
						li
							button 6
						li
							button 7
						li
							button 8
						li
							button 9
					button.sleepers__buy
						span Купить
						img(src="img/header__coins.svg" alt="Coin")
						span 150

				//- .airdrop__move
					h3 Перетащите спальники:
					ul
						li
							button
						li
							button
						li
							button
						li
							button
						li
							button
						li
							button
						li
							button
						li
							button
						li
							button
					.move__buttons
						button.move__random
							span случайно
							img(src="img/random.svg" alt="Random")
						button.move__submit
							span Подтвердить

			<!-- section-right__players section-right__players_none -->
			.section-right__players
				<!-- <big>Ставок нет</big> -->
				.players__top
					h3 Игроки
					.count
						img(src="img/players.svg" alt="Ico")
						span 18
				.players__item
					.item__photo
						img(src="img/user.jpeg" alt="User")
					p.item__name Семён
					.item__coins
						img(src="img/header__coins.svg" alt="Coins")
						span 50
				.players__item
					.item__photo
						img(src="img/user.jpeg" alt="User")
					p.item__name Семён
					.item__coins
						img(src="img/header__coins.svg" alt="Coins")
						span 100
				.players__item
					.item__photo
						img(src="img/user.jpeg" alt="User")
					p.item__name Семён
					.item__coins
						img(src="img/header__coins.svg" alt="Coins")
						span 100
				.players__item
					.item__photo
						img(src="img/user.jpeg" alt="User")
					p.item__name Семён
					.item__coins
						img(src="img/header__coins.svg" alt="Coins")
						span 50
				.players__item
					.item__photo
						img(src="img/user.jpeg" alt="User")
					p.item__name Семён
					.item__coins
						img(src="img/header__coins.svg" alt="Coins")
						span 100
				.players__item
					.item__photo
						img(src="img/user.jpeg" alt="User")
					p.item__name Семён
					.item__coins
						img(src="img/header__coins.svg" alt="Coins")
						span 100
				.players__item
					.item__photo
						img(src="img/user.jpeg" alt="User")
					p.item__name Семён
					.item__coins
						img(src="img/header__coins.svg" alt="Coins")
						span 50
				.players__item
					.item__photo
						img(src="img/user.jpeg" alt="User")
					p.item__name Семён
					.item__coins
						img(src="img/header__coins.svg" alt="Coins")
						span 100
				.players__item
					.item__photo
						img(src="img/user.jpeg" alt="User")
					p.item__name Семён
					.item__coins
						img(src="img/header__coins.svg" alt="Coins")
						span 100
				.players__item
					.item__photo
						img(src="img/user.jpeg" alt="User")
					p.item__name Семён
					.item__coins
						img(src="img/header__coins.svg" alt="Coins")
						span 50
				.players__item
					.item__photo
						img(src="img/user.jpeg" alt="User")
					p.item__name Семён
					.item__coins
						img(src="img/header__coins.svg" alt="Coins")
						span 100
				.players__item
					.item__photo
						img(src="img/user.jpeg" alt="User")
					p.item__name Семён
					.item__coins
						img(src="img/header__coins.svg" alt="Coins")
						span 100


		.section-right__item
			include chat.pug