extends includes/head.pug
block body

	body
		include includes/header.pug

		main.wrapper

			include includes/aside.pug

			

			section.section-faq

				.section-faq__top
					.top__lft
						h1 Трудный вопрос
						p Если не нашли решения свой проблемы
					.top__rht
						a(href="#").vk
							img(src="img/vk-wh.svg" alt="Vk")
							span Чат
						a(href="#").dis
							img(src="img/discord-wh.svg" alt="discord")
							span Канал
				.section-faq__content

					.section-faq__catalog

						button.catalog__item
							img(src="img/cat-ico-1.svg" alt="Ico")
							h2 Режим «Аирдроп»
						button.catalog__item
							img(src="img/cat-ico-2.svg" alt="Ico")
							h2 Режим «Схватка»
						button.catalog__item
							img(src="img/cat-ico-3.svg" alt="Ico")
							h2 Баланс
						button.catalog__item
							img(src="img/cat-ico-4.svg" alt="Ico")
							h2 Трейды
						button.catalog__item
							img(src="img/header__coins.svg" alt="Ico")
							h2 Валюта сайта
						button.catalog__item
							img(src="img/cat-ico-5.svg" alt="Ico")
							h2 Другое
					hr

					.section-faq__block

						.section-faq__item
							.item__head
								h2 Важный вопрос
								.arr
									img(src="img/faq-arr.svg" alt="Arr")
							.item__body
								p Если Вы получили блокировку 
									a(href="#").vk Вконтакте
									| , значит Вы занимались скамом/рекламой в комментариях, либо флудили в поддержку. Если Вы получили бан на нашем 
									a(href="#").dis Discord-сервере
									| , значит Вы нарушили правила, либо грубили Администрации. Чтобы получить разбан, обратитесь в поддержку, укажите причину Вашей блокировки, Ваш никнейм. Администрация вправе отказать без объяснения причины.
						.section-faq__item
							.item__head
								h2 Важный вопрос
								.arr
									img(src="img/faq-arr.svg" alt="Arr")
							.item__body
								p Если Вы получили блокировку 
									a(href="#").vk Вконтакте
									| , значит Вы занимались скамом/рекламой в комментариях, либо флудили в поддержку. Если Вы получили бан на нашем 
									a(href="#").dis Discord-сервере
									| , значит Вы нарушили правила, либо грубили Администрации. Чтобы получить разбан, обратитесь в поддержку, укажите причину Вашей блокировки, Ваш никнейм. Администрация вправе отказать без объяснения причины.
						.section-faq__item
							.item__head
								h2 Важный вопрос
								.arr
									img(src="img/faq-arr.svg" alt="Arr")
							.item__body
								p Если Вы получили блокировку 
									a(href="#").vk Вконтакте
									| , значит Вы занимались скамом/рекламой в комментариях, либо флудили в поддержку. Если Вы получили бан на нашем 
									a(href="#").dis Discord-сервере
									| , значит Вы нарушили правила, либо грубили Администрации. Чтобы получить разбан, обратитесь в поддержку, укажите причину Вашей блокировки, Ваш никнейм. Администрация вправе отказать без объяснения причины.
						.section-faq__item
							.item__head
								h2 Важный вопрос
								.arr
									img(src="img/faq-arr.svg" alt="Arr")
							.item__body
								p Если Вы получили блокировку 
									a(href="#").vk Вконтакте
									| , значит Вы занимались скамом/рекламой в комментариях, либо флудили в поддержку. Если Вы получили бан на нашем 
									a(href="#").dis Discord-сервере
									| , значит Вы нарушили правила, либо грубили Администрации. Чтобы получить разбан, обратитесь в поддержку, укажите причину Вашей блокировки, Ваш никнейм. Администрация вправе отказать без объяснения причины.
						.section-faq__item
							.item__head
								h2 Важный вопрос
								.arr
									img(src="img/faq-arr.svg" alt="Arr")
							.item__body
								p Если Вы получили блокировку 
									a(href="#").vk Вконтакте
									| , значит Вы занимались скамом/рекламой в комментариях, либо флудили в поддержку. Если Вы получили бан на нашем 
									a(href="#").dis Discord-сервере
									| , значит Вы нарушили правила, либо грубили Администрации. Чтобы получить разбан, обратитесь в поддержку, укажите причину Вашей блокировки, Ваш никнейм. Администрация вправе отказать без объяснения причины.
						.section-faq__item
							.item__head
								h2 Важный вопрос
								.arr
									img(src="img/faq-arr.svg" alt="Arr")
							.item__body
								p Если Вы получили блокировку 
									a(href="#").vk Вконтакте
									| , значит Вы занимались скамом/рекламой в комментариях, либо флудили в поддержку. Если Вы получили бан на нашем 
									a(href="#").dis Discord-сервере
									| , значит Вы нарушили правила, либо грубили Администрации. Чтобы получить разбан, обратитесь в поддержку, укажите причину Вашей блокировки, Ваш никнейм. Администрация вправе отказать без объяснения причины.
						.section-faq__item
							.item__head
								h2 Важный вопрос
								.arr
									img(src="img/faq-arr.svg" alt="Arr")
							.item__body
								p Если Вы получили блокировку 
									a(href="#").vk Вконтакте
									| , значит Вы занимались скамом/рекламой в комментариях, либо флудили в поддержку. Если Вы получили бан на нашем 
									a(href="#").dis Discord-сервере
									| , значит Вы нарушили правила, либо грубили Администрации. Чтобы получить разбан, обратитесь в поддержку, укажите причину Вашей блокировки, Ваш никнейм. Администрация вправе отказать без объяснения причины.
						.section-faq__item
							.item__head
								h2 Важный вопрос
								.arr
									img(src="img/faq-arr.svg" alt="Arr")
							.item__body
								p Если Вы получили блокировку 
									a(href="#").vk Вконтакте
									| , значит Вы занимались скамом/рекламой в комментариях, либо флудили в поддержку. Если Вы получили бан на нашем 
									a(href="#").dis Discord-сервере
									| , значит Вы нарушили правила, либо грубили Администрации. Чтобы получить разбан, обратитесь в поддержку, укажите причину Вашей блокировки, Ваш никнейм. Администрация вправе отказать без объяснения причины.
						.section-faq__item
							.item__head
								h2 Важный вопрос
								.arr
									img(src="img/faq-arr.svg" alt="Arr")
							.item__body
								p Если Вы получили блокировку 
									a(href="#").vk Вконтакте
									| , значит Вы занимались скамом/рекламой в комментариях, либо флудили в поддержку. Если Вы получили бан на нашем 
									a(href="#").dis Discord-сервере
									| , значит Вы нарушили правила, либо грубили Администрации. Чтобы получить разбан, обратитесь в поддержку, укажите причину Вашей блокировки, Ваш никнейм. Администрация вправе отказать без объяснения причины.
						.section-faq__item
							.item__head
								h2 Важный вопрос
								.arr
									img(src="img/faq-arr.svg" alt="Arr")
							.item__body
								p Если Вы получили блокировку 
									a(href="#").vk Вконтакте
									| , значит Вы занимались скамом/рекламой в комментариях, либо флудили в поддержку. Если Вы получили бан на нашем 
									a(href="#").dis Discord-сервере
									| , значит Вы нарушили правила, либо грубили Администрации. Чтобы получить разбан, обратитесь в поддержку, укажите причину Вашей блокировки, Ваш никнейм. Администрация вправе отказать без объяснения причины.
						.section-faq__item
							.item__head
								h2 Важный вопрос
								.arr
									img(src="img/faq-arr.svg" alt="Arr")
							.item__body
								p Если Вы получили блокировку 
									a(href="#").vk Вконтакте
									| , значит Вы занимались скамом/рекламой в комментариях, либо флудили в поддержку. Если Вы получили бан на нашем 
									a(href="#").dis Discord-сервере
									| , значит Вы нарушили правила, либо грубили Администрации. Чтобы получить разбан, обратитесь в поддержку, укажите причину Вашей блокировки, Ваш никнейм. Администрация вправе отказать без объяснения причины.
						.section-faq__item
							.item__head
								h2 Важный вопрос
								.arr
									img(src="img/faq-arr.svg" alt="Arr")
							.item__body
								p Если Вы получили блокировку 
									a(href="#").vk Вконтакте
									| , значит Вы занимались скамом/рекламой в комментариях, либо флудили в поддержку. Если Вы получили бан на нашем 
									a(href="#").dis Discord-сервере
									| , значит Вы нарушили правила, либо грубили Администрации. Чтобы получить разбан, обратитесь в поддержку, укажите причину Вашей блокировки, Ваш никнейм. Администрация вправе отказать без объяснения причины.


			include rights/rights-postamat-chat.pug










		

		include includes/footer.pug
		include includes/scripts.pug
