extends includes/head.pug
block body

	body
		include includes/header.pug

		main.wrapper

			include includes/aside.pug

			section.section-fight

				.section-fight__lft

					.section-fight__top
						.section-fight__user
							.user__photo
								img(src="img/user.jpeg" alt="User")
							.user__name Семён
						.section-fight__resources
							.resources__clothes
								button.clothes__head
									img(src="img/clothes.svg" alt="Ico")
								.clothes__body
									ul
										li
											.clothes__cool.clothes__cool_green
											img(src="img/weapon.png" alt="Photo")
										li
											.clothes__cool.clothes__cool_green
											img(src="img/weapon.png" alt="Photo")
										li
											.clothes__cool.clothes__cool_green
											img(src="img/weapon.png" alt="Photo")
										li
											.clothes__cool.clothes__cool_green
											img(src="img/weapon.png" alt="Photo")
										li
											.clothes__cool.clothes__cool_green
											img(src="img/weapon.png" alt="Photo")
										li
											.clothes__cool.clothes__cool_green
											img(src="img/weapon.png" alt="Photo")
										li.count
											span +3
							.resources__coins
								img(src="img/header__coins.svg" alt="Ico")
								span 100
					.section-fight__persone
						.persone__green
							img(src="img/head.png" alt="Photo" width="72").head
							img(src="img/body.png" alt="Photo" width="295").body
							img(src="img/legs.png" alt="Photo" width="145").legs
						.persone__start
							img(src="img/persone-nnn.png" alt="Persone")
					.section-fight__bottom
						//- button.section-fight__cancel Отменить игру
						.bottom__info
							p Выберите 2 области защиты
						ul.section-fight__select
							li
								button(data-persone="head")
									span Голова
									img(src="img/green-check.svg" alt="Ico")
							li
								button(data-persone="body")
									span Торс
									img(src="img/green-check.svg" alt="Ico")
							li
								button(data-persone="legs")
									span Ноги
									img(src="img/green-check.svg" alt="Ico")

				.section-fight__center
					//- .center__loading
						.load
							.load__line
							.load__line
							.load__line
						span Ожидание
					.center__running
						//- img(src="img/loading-fight.svg" alt="Loading")
						span Начало
						.timer
							.min
								span **
							.sec
								small.dot .
								span **
					script.
						document.addEventListener('DOMContentLoaded', () => {
							timeDeadlineFunc('Oct 14 2022 18:00:00 GMT+0300');
						})

				.section-fight__rht

					.section-fight__top
						//- .section-fight__user.section-fight__user_hidden
						.section-fight__user
							.user__photo
								img(src="img/user.jpeg" alt="User")
							.user__name Семён
						.section-fight__resources
							.resources__clothes
								button.clothes__head
									img(src="img/clothes.svg" alt="Ico")
								.clothes__body
									ul
										li
											.clothes__cool.clothes__cool_green
											img(src="img/weapon.png" alt="Photo")
										li
											.clothes__cool.clothes__cool_green
											img(src="img/weapon.png" alt="Photo")
										li
											.clothes__cool.clothes__cool_green
											img(src="img/weapon.png" alt="Photo")
										li
											.clothes__cool.clothes__cool_green
											img(src="img/weapon.png" alt="Photo")
										li
											.clothes__cool.clothes__cool_green
											img(src="img/weapon.png" alt="Photo")
										li
											.clothes__cool.clothes__cool_green
											img(src="img/weapon.png" alt="Photo")
										li.count
											span +3
							.resources__coins.resources__coins_none
								img(src="img/header__coins.svg" alt="Ico")
								span 0
					.section-fight__persone.section-fight__persone-hit
						.persone__red
							img(src="img/head-hit.png" alt="Photo" width="72").head-hit
							img(src="img/body-hit.png" alt="Photo" width="295").body-hit
							img(src="img/legs-hit.png" alt="Photo" width="145").legs-hit
						.persone__start
							img(src="img/persone-siluete.png" alt="Persone")
					.section-fight__bottom
						//- .section-fight__opponent-info Выбор защиты
						.bottom__info
							p Выберите 2 области атаки
						ul.section-fight__select-hit
							li
								button(data-persone="head-hit" data-code="s")
									span Голова
									img(src="img/red-check.svg" alt="Ico")
							li
								button(data-persone="body-hit" data-code="s")
									span Торс
									img(src="img/red-check.svg" alt="Ico")
							li
								button(data-persone="legs-hit" data-code="s")
									span Ноги
									img(src="img/red-check.svg" alt="Ico")

			include rights/rights-postamat-chat.pug










		

		include includes/footer.pug
		include includes/scripts.pug
