extends includes/head.pug
block body

	body
		include includes/header.pug

		main.wrapper

			include includes/aside.pug

			section.section-history

				.section-history__top

					button.section-history__all.button_active
						p Все
					button.section-history__push
						p Пополнено
						.cost $ 1479
							span ,00
					button.section-history__pull
						p Выведено с сайта
						.cost $ 2618
							span ,50

				.section-history__center
					ul.section-history__switcher
						li
							a(href="#") Предметами
						li.li_active
							a(href="#") Пин-коды

					.section-history__sort
						span Сортировка:
						.select
							select
								option По цене
								option По дате

				.section-history__block
					.section-history__item
						.item__type.item__type_send
							img(src="img/arr-send.svg" alt="Send")
						.item__date 18:23
							span 12.07.21
						.item__list
							ul
								li
									.clothes__cool.clothes__cool_green
									img(src="img/skin.png" alt="Skin")
									.li__name
										p Cucumber Eoka
										b $32.18
						.item__price
							img(src="img/header__coins.svg" alt="Coins")
							span 3000
						button.item__delete
							img(src="img/cross.svg" alt="Coins")
						.item__status.item__status_good
							span Отправлен
							img(src="img/green-check.svg" alt="Ico")
					.section-history__item
						.item__type.item__type_send
							img(src="img/arr-get.svg" alt="Get")
						.item__date 18:23
							span 12.07.21
						.item__list
							ul
								li
									.clothes__cool.clothes__cool_green
									img(src="img/skin.png" alt="Skin")
									.li__name
										p Cucumber Eoka
										b $32.18
								li
									.clothes__cool.clothes__cool_green
									img(src="img/skin.png" alt="Skin")
									.li__name
										p Cucumber Eoka
										b $32.18
								li
									.clothes__cool.clothes__cool_green
									img(src="img/skin.png" alt="Skin")
									.li__name
										p Cucumber Eoka
										b $32.18
						.item__price
							img(src="img/header__coins.svg" alt="Coins")
							span 3000
						button.item__delete
							img(src="img/cross.svg" alt="Coins")
						.item__status.item__status_good
							span Получен
							img(src="img/green-check.svg" alt="Ico")
					.section-history__item
						.item__type.item__type_send
							img(src="img/arr-get.svg" alt="Get")
						.item__date 18:23
							span 12.07.21
						.item__list
							ul
								li
									.clothes__cool.clothes__cool_green
									img(src="img/skin.png" alt="Skin")
									.li__name
										p Cucumber Eoka
										b $32.18
								li
									.clothes__cool.clothes__cool_green
									img(src="img/skin.png" alt="Skin")
									.li__name
										p Cucumber Eoka
										b $32.18
								li
									.clothes__cool.clothes__cool_green
									img(src="img/skin.png" alt="Skin")
									.li__name
										p Cucumber Eoka
										b $32.18
								li
									.clothes__cool.clothes__cool_green
									img(src="img/skin.png" alt="Skin")
									.li__name
										p Cucumber Eoka
										b $32.18
								li
									.clothes__cool.clothes__cool_green
									img(src="img/skin.png" alt="Skin")
									.li__name
										p Cucumber Eoka
										b $32.18
								li
									.clothes__cool.clothes__cool_green
									img(src="img/skin.png" alt="Skin")
									.li__name
										p Cucumber Eoka
										b $32.18
								li
									.clothes__cool.clothes__cool_green
									img(src="img/skin.png" alt="Skin")
									.li__name
										p Cucumber Eoka
										b $32.18
								li.count +2
						.item__price
							img(src="img/header__coins.svg" alt="Coins")
							span 3000
						button.item__delete
							img(src="img/cross.svg" alt="Coins")
						.item__status.item__status_grey
							span Отменен
							img(src="img/status-error.svg" alt="Ico")
					.section-history__item
						.item__type.item__type_send
							img(src="img/arr-get.svg" alt="Get")
						.item__date 18:23
							span 12.07.21
						.item__list
							p.pin PIN-CODE
								span  $5
							//- ul
								li
									.clothes__cool.clothes__cool_green
									img(src="img/skin.png" alt="Skin")
									.li__name
										p Cucumber Eoka
										b $32.18
								li
									.clothes__cool.clothes__cool_green
									img(src="img/skin.png" alt="Skin")
									.li__name
										p Cucumber Eoka
										b $32.18
								li
									.clothes__cool.clothes__cool_green
									img(src="img/skin.png" alt="Skin")
									.li__name
										p Cucumber Eoka
										b $32.18
						.item__price
							img(src="img/header__coins.svg" alt="Coins")
							span 3000
						button.item__delete
							img(src="img/cross.svg" alt="Coins")
						.item__status.item__status_grey
							span В обработке
							img(src="img/status-progress.svg" alt="Ico")

			include rights/rights-storage-empty-chat.pug











		

		include includes/footer.pug
		include includes/scripts.pug
