extends includes/head.pug
block body

	body
		include includes/header.pug

		main.wrapper

				include includes/aside.pug

				section.section-blocks

					.section-block.section-block-information.section-block-newcomer
						.top-gamer
							.top-gamer__vertical
								span Игрок недели
							.top-gamer__info
								.info__photo
									img(src="img/user.jpeg" alt="Photo")
								.info__block
									h2.info__name Рафаэль Миркович
									a(href="#").info__profile
										img(src="img/steam.svg" alt="Steam")
										span ПРОФИЛЬ
							.top-gamer__trade-link.top-gamer__trade-link_nonactive
								.trade-link__block
									h3 Trade-ссылка
									button(onclick="openPopup('trade-link')").trade-link__button Добавить
								.trade-link__check
									img(src="img/nonactive.svg" alt="Photo")
									span НЕ АКТИВНО
						.balance
							.balance__top
								.balance__block
									h3 Баланс
									.balance__coins
										img(src="img/header__coins.svg" alt="Ico")
										span 1 086
								a(href="#").balance__add
									span Пополнить
									img(src="img/balance-add.svg" alt="Ico")
							a(href="history.html").balance__history
								img(src="img/clock.svg" alt="Ico")
								span Итория баланса
						.stats
							h3 Аирдроп
							p 782
								sup 43%
							.lines
								.line.line_active
								.line
								.line.line_active
								.line
								.line
								.line
						.stats.stats_disabled
							h3 Схватка
							p Нет данных
						.stats
							h3 Бобовка
							p 186
								sup 74 победы
							.lines
								.line
								.line.line_active
								.line.line_active
								.line
								.line.line_active
								.line
						.stats
							h3 Иподром
							p 40
								sup 8 побед
							.lines
								.line
								.line
								.line.line_active
								.line
								.line.line_active
								.line.line_active

					.section-block
						ul.tabs
							li.li_active
								a(href="#") Аирдроп
							li
								a(href="#") Схватка
							li
								a(href="#") Бобовка
							li
								a(href="#") Иподром
						.tabs__block
							.tabs__item.tabs__item_active
								big Нет данных
							.tabs__item
								big Нет данных
							.tabs__item
								big Нет данных
							.tabs__item
								big Нет данных

				include rights/rights-storage-chat.pug











		

		include includes/footer.pug
		include includes/scripts.pug
