extends includes/head.pug
block body

	body
		include includes/header.pug

		main.wrapper

			include includes/aside.pug

			

			section.section-shop

				.section-shop__top
					.create-game
						p Создайте комнату со своей ставкой
						.players
							img(src="img/users.svg" alt="Ico")
							span 176
						button.create-game__button Создать игру
					.clothes-shop
						p Магазин <br />костюмов
						img(src="img/clothes-shop.svg" alt="Ico")

				.section-shop__list-games

					.list-games__item
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							span Играть за
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user.item__user_load
							.user__load
								.load
									.load__line
									.load__line
									.load__line
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_open-clothes
						.item__type.item__type_clothes
							img(src="img/clothes.svg" alt="Ico")
						ul.item__clothes
							li
								.clothes__cool.clothes__cool_grey
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_red
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_green
								img(src="img/weapon.png" alt="Photo")

						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							span Играть за
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item
						.item__type.item__type_clothes
							img(src="img/clothes.svg" alt="Ico")
						ul.item__clothes
							li
								.clothes__cool.clothes__cool_grey
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_red
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_green
								img(src="img/weapon.png" alt="Photo")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							span Играть за
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							span Играть за
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item
						.item__type.item__type_clothes
							img(src="img/clothes.svg" alt="Ico")
						ul.item__clothes
							li
								.clothes__cool.clothes__cool_grey
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_red
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_green
								img(src="img/weapon.png" alt="Photo")

						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							span Играть за
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item
						.item__type.item__type_clothes
							img(src="img/clothes.svg" alt="Ico")
						ul.item__clothes
							li
								.clothes__cool.clothes__cool_grey
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_red
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_green
								img(src="img/weapon.png" alt="Photo")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							span Играть за
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_running
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_running
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_running
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_running
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_finish
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							.winner
								img(src="img/header__coins.svg" alt="Ico")
								span 100
							.looser
								img(src="img/looser.svg" alt="Ico")
						.item__user.item__user_looser
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_finish
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							.winner
								img(src="img/header__coins.svg" alt="Ico")
								span 100
							.looser
								img(src="img/looser.svg" alt="Ico")
						.item__user.item__user_looser
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_finish
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							.winner
								img(src="img/header__coins.svg" alt="Ico")
								span 100
							.looser
								img(src="img/looser.svg" alt="Ico")
						.item__user.item__user_looser
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")





			section.section-right
				.section-right__top
					button.top__item
						span Постамат
					button.top__item.top__item_active
						span Чат
						.people
							img(src="img/users.svg" alt="Ico")
							span 176

				.section-right__switcher
					.section-right__item

						


					.section-right__item.section-right_active
						.section-right__chatting
							.chatting__block
								.chatting__item
									.item__photo
										.photo
											img(src="img/user.jpeg" alt="User")
										.mark
											img(src="img/twitch.svg" alt="Ico")
									.item__inner
										.item__top
											h4.item__name Система
											.item__muted
												img(src="img/muted.svg" alt="Menu")
											button.item__menu
												img(src="img/chat-menu.svg" alt="Menu")
											time.item__time 12:46
										.item__text
											p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
										ul.item__dropdown
											li
												a(href="#") Скрыть сообщение
											li
												a(href="#") Заглушить
											li
												a(href="#") Блокировать 1ч
											li
												a(href="#") Бан чата
											li.li__delete
												a(href="#") Удалить
								.chatting__item.chatting__item_muted
									.item__photo
										.photo
											img(src="img/user.jpeg" alt="User")
										.mark
											img(src="img/twitch.svg" alt="Ico")
									.item__inner
										.item__top
											h4.item__name Система
											.item__muted
												img(src="img/muted.svg" alt="Menu")
											button.item__menu
												img(src="img/chat-menu.svg" alt="Menu")
											time.item__time 12:46
										.item__text
											p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
										ul.item__dropdown
											li
												a(href="#") Скрыть сообщение
											li
												a(href="#") Заглушить
											li
												a(href="#") Блокировать 1ч
											li
												a(href="#") Бан чата
											li.li__delete
												a(href="#") Удалить
								.chatting__item
									.item__photo
										.photo
											img(src="img/user.jpeg" alt="User")
										.mark
											img(src="img/twitch.svg" alt="Ico")
									.item__inner
										.item__top
											h4.item__name Система
											.item__muted
												img(src="img/muted.svg" alt="Menu")
											button.item__menu
												img(src="img/chat-menu.svg" alt="Menu")
											time.item__time 12:46
										.item__text
											p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
										ul.item__dropdown
											li
												a(href="#") Скрыть сообщение
											li
												a(href="#") Заглушить
											li
												a(href="#") Блокировать 1ч
											li
												a(href="#") Бан чата
											li.li__delete
												a(href="#") Удалить
								.chatting__item
									.item__photo
										.photo
											img(src="img/user.jpeg" alt="User")
										.mark
											img(src="img/twitch.svg" alt="Ico")
									.item__inner
										.item__top
											h4.item__name Система
											.item__muted
												img(src="img/muted.svg" alt="Menu")
											button.item__menu
												img(src="img/chat-menu.svg" alt="Menu")
											time.item__time 12:46
										.item__text
											p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
										ul.item__dropdown
											li
												a(href="#") Скрыть сообщение
											li
												a(href="#") Заглушить
											li
												a(href="#") Блокировать 1ч
											li
												a(href="#") Бан чата
											li.li__delete
												a(href="#") Удалить
								.chatting__item
									.item__photo
										.photo
											img(src="img/user.jpeg" alt="User")
										.mark
											img(src="img/twitch.svg" alt="Ico")
									.item__inner
										.item__top
											h4.item__name Система
											.item__muted
												img(src="img/muted.svg" alt="Menu")
											button.item__menu
												img(src="img/chat-menu.svg" alt="Menu")
											time.item__time 12:46
										.item__text
											p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
										ul.item__dropdown
											li
												a(href="#") Скрыть сообщение
											li
												a(href="#") Заглушить
											li
												a(href="#") Блокировать 1ч
											li
												a(href="#") Бан чата
											li.li__delete
												a(href="#") Удалить
							.section-right__resources
								a(href="#") Правила чата
								a(href="#") Пользовательское соглашение
							form(action="#").section-right__bottom
								label.textarea
									input(placeholder="Сообщение" maxlength="150")
									span.maxl 0/150
								.smiles
									img(src="img/smile-1.png" alt="Smile")
								button.send
									img(src="img/send-message.svg" alt="Ico")











		

		include includes/footer.pug
		include includes/scripts.pug
