extends includes/head.pug
block body

	body
		include includes/header.pug

		main.wrapper

			include includes/aside.pug

			
			section.section-shop

				.section-shop__top
					.create-game
						p Создайте комнату со своей ставкой
						.players
							img(src="img/users.svg" alt="Ico")
							span 176
						button.create-game__button Создать игру
					.clothes-shop
						p Магазин <br />костюмов
						img(src="img/clothes-shop.svg" alt="Ico")

				.section-shop__list-games

					.list-games__item
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							span Играть за
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user.item__user_load
							.user__load
								.load
									.load__line
									.load__line
									.load__line
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_open-clothes
						.item__type.item__type_clothes
							img(src="img/clothes.svg" alt="Ico")
						ul.item__clothes
							li
								.clothes__cool.clothes__cool_grey
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_red
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_green
								img(src="img/weapon.png" alt="Photo")

						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							span Играть за
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item
						.item__type.item__type_clothes
							img(src="img/clothes.svg" alt="Ico")
						ul.item__clothes
							li
								.clothes__cool.clothes__cool_grey
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_red
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_green
								img(src="img/weapon.png" alt="Photo")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							span Играть за
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							span Играть за
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item
						.item__type.item__type_clothes
							img(src="img/clothes.svg" alt="Ico")
						ul.item__clothes
							li
								.clothes__cool.clothes__cool_grey
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_red
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_green
								img(src="img/weapon.png" alt="Photo")

						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							span Играть за
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item
						.item__type.item__type_clothes
							img(src="img/clothes.svg" alt="Ico")
						ul.item__clothes
							li
								.clothes__cool.clothes__cool_grey
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_red
								img(src="img/weapon.png" alt="Photo")
							li
								.clothes__cool.clothes__cool_green
								img(src="img/weapon.png" alt="Photo")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							span Играть за
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_running
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_running
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_running
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_running
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							img(src="img/header__coins.svg" alt="Ico")
							span 100
						.item__user
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_finish
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							.winner
								img(src="img/header__coins.svg" alt="Ico")
								span 100
							.looser
								img(src="img/looser.svg" alt="Ico")
						.item__user.item__user_looser
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_finish
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							.winner
								img(src="img/header__coins.svg" alt="Ico")
								span 100
							.looser
								img(src="img/looser.svg" alt="Ico")
						.item__user.item__user_looser
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
					.list-games__item.list-games__item_finish
						.item__type.item__type_coins
							img(src="img/header__coins.svg" alt="Ico")
						.item__user
							.user__photo
								img(src="img/user.jpeg" alt="Photo")
							.user__name Amnesianna5360
						.item__button
							.winner
								img(src="img/header__coins.svg" alt="Ico")
								span 100
							.looser
								img(src="img/looser.svg" alt="Ico")
						.item__user.item__user_looser
							.user__load
							.user__name Victorius
							.user__photo
								img(src="img/user.jpeg" alt="Photo")


			include rights/rights-postamat-chat.pug











		

		include includes/footer.pug
		include includes/scripts.pug
