extends includes/head.pug
block body

	body
		include includes/header.pug

		main.wrapper

			include includes/aside.pug

			

			section.section-map

				.trajectory
					.plane
						img(src="img/plane.png" alt="Plane" width="54")

				.notice-bottom
					span Проигрыш
					button.notice-bottom__close
						img(src="img/close.svg" alt="Close")




			include rights/rights-airdrop-member-chat.pug











		

		include includes/footer.pug
		include includes/scripts.pug
