extends includes/head.pug
block body

	body
		include includes/header.pug

		main.wrapper

			include includes/aside.pug

			section.section-shop

				.section-shop__top
					.create-game
						p Создайте комнату со своей ставкой
						.players
							img(src="img/users.svg" alt="Ico")
							span 176
						button.create-game__button Создать игру
					.clothes-shop
						p Магазин <br />костюмов
						img(src="img/clothes-shop.svg" alt="Ico")

				.section-shop__skins
					.skins__top
						a(href="#").skins__back
							img(src="img/back.svg" alt="Ico")
							span Режим схватка
						h1 Уникальные скины для режима
					.skins__block
						.skins__item
							.item__check
								img(src="img/green-check.svg" alt="Check")
							h2 Буренка
							p Новичок
							.item__skin
								img(src="img/skin.png" alt="Skin")
							.item__buy
								button.buy__price
									img(src="img/header__coins.svg" alt="Skin")
									span 3000
									.sale -50%
								button.buy__buy
									span Купить
								button.buy__set
									span Одеть
						.skins__item
							.item__check
								img(src="img/green-check.svg" alt="Check")
							h2 Буренка
							p Новичок
							.item__skin
								img(src="img/skin.png" alt="Skin")
							.item__buy.item__buy_bought
								button.buy__price
									img(src="img/header__coins.svg" alt="Skin")
									span 3000
									.sale -50%
								button.buy__buy
									span Купить
								button.buy__set
									span Одеть
						.skins__item
							.item__check
								img(src="img/green-check.svg" alt="Check")
							h2 Буренка
							p Новичок
							.item__skin
								img(src="img/skin.png" alt="Skin")
							.item__buy
								button.buy__price
									img(src="img/header__coins.svg" alt="Skin")
									span 3000
									.sale -50%
								button.buy__buy
									span Купить
								button.buy__set
									span Одеть
						.skins__item
							.item__check
								img(src="img/green-check.svg" alt="Check")
							h2 Буренка
							p Новичок
							.item__skin
								img(src="img/skin.png" alt="Skin")
							.item__buy.item__buy_bought
								button.buy__price
									img(src="img/header__coins.svg" alt="Skin")
									span 3000
									.sale -50%
								button.buy__buy
									span Купить
								button.buy__set
									span Одеть

			include rights/rights-postamat-chat.pug











		

		include includes/footer.pug
		include includes/scripts.pug
