extends includes/head.pug
block body

	body

		main.tech-work
			.ico
				img(src="img/tech-work-ico.svg" alt="Ico")
			h1 Технические работы
			p На данный момент мы улучшаем сайт и стараемся сделать его еще лучше! <br />Сайт заработает через:
			time
				span.day
					span 12
				span.hour :
					span 12
				span.min :
					span 12
				span.sec :
					span 12

			script.
				timeDeadline('Oct 14 2022 18:00:00 GMT+0300')

		include includes/footer.pug
		include includes/scripts.pug
