extends includes/head.pug
block body

	body
		include includes/header.pug

		main.wrapper

			include includes/aside.pug

			

			section.section-terms
				.section-terms__top
					h1 Пользовательское соглашение
					img(src="img/terms.png" alt="Photo")

				.section-terms__content

					h2 Правила для пользователя

					p 1. ОБЩИЕ УСЛОВИЯ
					p 1.1. НАСТОЯЩЕЕ СОГЛАШЕНИЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ. ПОЛУЧАЯ ДОСТУП К МАТЕРИАЛАМ САЙТА ПОЛЬЗОВАТЕЛЬ СЧИТАЕТСЯ ПРИСОЕДИНИВШИМСЯ К НАСТОЯЩЕМУ СОГЛАШЕНИЮ.
					p 1.2. АДМИНИСТРАЦИЯ САЙТА ВПРАВЕ В ЛЮБОЕ ВРЕМЯ В ОДНОСТОРОННЕМ ПОРЯДКЕ ИЗМЕНЯТЬ УСЛОВИЯ НАСТОЯЩЕГО СОГЛАШЕНИЯ. ТАКИЕ ИЗМЕНЕНИЯ ВСТУПАЮТ В СИЛУ ПО ИСТЕЧЕНИИ 3 (ТРЕХ) ДНЕЙ С МОМЕНТА РАЗМЕЩЕНИЯ НОВОЙ ВЕРСИИ СОГЛАШЕНИЯ НА САЙТЕ. ПРИ НЕСОГЛАСИИ ПОЛЬЗОВАТЕЛЯ С ВНЕСЕННЫМИ ИЗМЕНЕНИЯМИ ОН ОБЯЗАН ОТКАЗАТЬСЯ ОТ ДОСТУПА К САЙТУ, ПРЕКРАТИТЬ ИСПОЛЬЗОВАНИЕ МАТЕРИАЛОВ И СЕРВИСОВ САЙТА.
					p 2. ОБЯЗАТЕЛЬСТВА ПОЛЬЗОВАТЕЛЯ
					p 2.1. ИСПОЛЬЗОВАНИЕ МАТЕРИАЛОВ САЙТА БЕЗ СОГЛАСИЯ ПРАВООБЛАДАТЕЛЕЙ НЕ ДОПУСКАЕТСЯ. ДЛЯ ПРАВОМЕРНОГО ИСПОЛЬЗОВАНИЯ МАТЕРИАЛОВ САЙТА НЕОБХОДИМО ЗАКЛЮЧЕНИЕ ЛИЦЕНЗИОННЫХ ДОГОВОРОВ (ПОЛУЧЕНИЕ ЛИЦЕНЗИЙ) ОТ ПРАВООБЛАДАТЕЛЕЙ.
					p 2.2. ПРИ ЦИТИРОВАНИИ МАТЕРИАЛОВ САЙТА, ВКЛЮЧАЯ ОХРАНЯЕМЫЕ АВТОРСКИЕ ПРОИЗВЕДЕНИЯ, ССЫЛКА НА САЙТ ОБЯЗАТЕЛЬНА
					p 2.3. ПОЛЬЗОВАТЕЛЬ ПРЕДУПРЕЖДЕН О ТОМ, ЧТО АДМИНИСТРАЦИЯ САЙТА НЕ НЕСЕТ ОТВЕТСТВЕННОСТИ ЗА ПОСЕЩЕНИЕ И ИСПОЛЬЗОВАНИЕ ИМ ВНЕШНИХ РЕСУРСОВ, ССЫЛКИ НА КОТОРЫЕ МОГУТ СОДЕРЖАТЬСЯ НА САЙТЕ.
					p 2.4. ПОЛЬЗОВАТЕЛЬ СОГЛАСЕН С ТЕМ, ЧТО АДМИНИСТРАЦИЯ САЙТА НЕ НЕСЕТ ОТВЕТСТВЕННОСТИ И НЕ ИМЕЕТ ПРЯМЫХ ИЛИ КОСВЕННЫХ ОБЯЗАТЕЛЬСТВ ПЕРЕД ПОЛЬЗОВАТЕЛЕМ В СВЯЗИ С ЛЮБЫМИ ВОЗМОЖНЫМИ ИЛИ ВОЗНИКШИМИ ПОТЕРЯМИ ИЛИ УБЫТКАМИ, СВЯЗАННЫМИ С ЛЮБЫМ СОДЕРЖАНИЕМ САЙТА, РЕГИСТРАЦИЕЙ АВТОРСКИХ ПРАВ И СВЕДЕНИЯМИ О ТАКОЙ РЕГИСТРАЦИИ, ТОВАРАМИ ИЛИ УСЛУГАМИ, ДОСТУПНЫМИ НА ИЛИ ПОЛУЧЕННЫМИ ЧЕРЕЗ ВНЕШНИЕ САЙТЫ ИЛИ РЕСУРСЫ ЛИБО ИНЫЕ КОНТАКТЫ ПОЛЬЗОВАТЕЛЯ, В КОТОРЫЕ ОН ВСТУПИЛ, ИСПОЛЬЗУЯ РАЗМЕЩЕННУЮ НА САЙТЕ ИНФОРМАЦИЮ ИЛИ ССЫЛКИ НА ВНЕШНИЕ РЕСУРСЫ.
					p 2.5. ПОЛЬЗОВАТЕЛЬ ПРИНИМАЕТ ПОЛОЖЕНИЕ О ТОМ, ЧТО ВСЕ МАТЕРИАЛЫ И СЕРВИСЫ САЙТА ИЛИ ЛЮБАЯ ИХ ЧАСТЬ МОГУТ СОПРОВОЖДАТЬСЯ РЕКЛАМОЙ. ПОЛЬЗОВАТЕЛЬ СОГЛАСЕН С ТЕМ, ЧТО АДМИНИСТРАЦИЯ САЙТА НЕ НЕСЕТ КАКОЙ-ЛИБО ОТВЕТСТВЕННОСТИ И НЕ ИМЕЕТ КАКИХ-ЛИБО ОБЯЗАТЕЛЬСТВ В СВЯЗИ С ТАКОЙ РЕКЛАМОЙ.
					p 3. ПРОЧИЕ УСЛОВИЯ
					p 3.1. НИЧТО В СОГЛАШЕНИИ НЕ МОЖЕТ ПОНИМАТЬСЯ КАК УСТАНОВЛЕНИЕ МЕЖДУ ПОЛЬЗОВАТЕЛЕМ И АДМИНИСТРАЦИИ САЙТА АГЕНТСКИХ ОТНОШЕНИЙ, ОТНОШЕНИЙ ТОВАРИЩЕСТВА, ОТНОШЕНИЙ ПО СОВМЕСТНОЙ ДЕЯТЕЛЬНОСТИ, ОТНОШЕНИЙ ЛИЧНОГО НАЙМА, ЛИБО КАКИХ-ТО ИНЫХ ОТНОШЕНИЙ, ПРЯМО НЕ ПРЕДУСМОТРЕННЫХ СОГЛАШЕНИЕМ.

					h2 Правила для пользователя

					p 1. ОБЩИЕ УСЛОВИЯ
					p 1.1. НАСТОЯЩЕЕ СОГЛАШЕНИЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ. ПОЛУЧАЯ ДОСТУП К МАТЕРИАЛАМ САЙТА ПОЛЬЗОВАТЕЛЬ СЧИТАЕТСЯ ПРИСОЕДИНИВШИМСЯ К НАСТОЯЩЕМУ СОГЛАШЕНИЮ.
					p 1.2. АДМИНИСТРАЦИЯ САЙТА ВПРАВЕ В ЛЮБОЕ ВРЕМЯ В ОДНОСТОРОННЕМ ПОРЯДКЕ ИЗМЕНЯТЬ УСЛОВИЯ НАСТОЯЩЕГО СОГЛАШЕНИЯ. ТАКИЕ ИЗМЕНЕНИЯ ВСТУПАЮТ В СИЛУ ПО ИСТЕЧЕНИИ 3 (ТРЕХ) ДНЕЙ С МОМЕНТА РАЗМЕЩЕНИЯ НОВОЙ ВЕРСИИ СОГЛАШЕНИЯ НА САЙТЕ. ПРИ НЕСОГЛАСИИ ПОЛЬЗОВАТЕЛЯ С ВНЕСЕННЫМИ ИЗМЕНЕНИЯМИ ОН ОБЯЗАН ОТКАЗАТЬСЯ ОТ ДОСТУПА К САЙТУ, ПРЕКРАТИТЬ ИСПОЛЬЗОВАНИЕ МАТЕРИАЛОВ И СЕРВИСОВ САЙТА.
					p 2. ОБЯЗАТЕЛЬСТВА ПОЛЬЗОВАТЕЛЯ
					p 2.1. ИСПОЛЬЗОВАНИЕ МАТЕРИАЛОВ САЙТА БЕЗ СОГЛАСИЯ ПРАВООБЛАДАТЕЛЕЙ НЕ ДОПУСКАЕТСЯ. ДЛЯ ПРАВОМЕРНОГО ИСПОЛЬЗОВАНИЯ МАТЕРИАЛОВ САЙТА НЕОБХОДИМО ЗАКЛЮЧЕНИЕ ЛИЦЕНЗИОННЫХ ДОГОВОРОВ (ПОЛУЧЕНИЕ ЛИЦЕНЗИЙ) ОТ ПРАВООБЛАДАТЕЛЕЙ.
					p 2.2. ПРИ ЦИТИРОВАНИИ МАТЕРИАЛОВ САЙТА, ВКЛЮЧАЯ ОХРАНЯЕМЫЕ АВТОРСКИЕ ПРОИЗВЕДЕНИЯ, ССЫЛКА НА САЙТ ОБЯЗАТЕЛЬНА
					p 2.3. ПОЛЬЗОВАТЕЛЬ ПРЕДУПРЕЖДЕН О ТОМ, ЧТО АДМИНИСТРАЦИЯ САЙТА НЕ НЕСЕТ ОТВЕТСТВЕННОСТИ ЗА ПОСЕЩЕНИЕ И ИСПОЛЬЗОВАНИЕ ИМ ВНЕШНИХ РЕСУРСОВ, ССЫЛКИ НА КОТОРЫЕ МОГУТ СОДЕРЖАТЬСЯ НА САЙТЕ.
					p 2.4. ПОЛЬЗОВАТЕЛЬ СОГЛАСЕН С ТЕМ, ЧТО АДМИНИСТРАЦИЯ САЙТА НЕ НЕСЕТ ОТВЕТСТВЕННОСТИ И НЕ ИМЕЕТ ПРЯМЫХ ИЛИ КОСВЕННЫХ ОБЯЗАТЕЛЬСТВ ПЕРЕД ПОЛЬЗОВАТЕЛЕМ В СВЯЗИ С ЛЮБЫМИ ВОЗМОЖНЫМИ ИЛИ ВОЗНИКШИМИ ПОТЕРЯМИ ИЛИ УБЫТКАМИ, СВЯЗАННЫМИ С ЛЮБЫМ СОДЕРЖАНИЕМ САЙТА, РЕГИСТРАЦИЕЙ АВТОРСКИХ ПРАВ И СВЕДЕНИЯМИ О ТАКОЙ РЕГИСТРАЦИИ, ТОВАРАМИ ИЛИ УСЛУГАМИ, ДОСТУПНЫМИ НА ИЛИ ПОЛУЧЕННЫМИ ЧЕРЕЗ ВНЕШНИЕ САЙТЫ ИЛИ РЕСУРСЫ ЛИБО ИНЫЕ КОНТАКТЫ ПОЛЬЗОВАТЕЛЯ, В КОТОРЫЕ ОН ВСТУПИЛ, ИСПОЛЬЗУЯ РАЗМЕЩЕННУЮ НА САЙТЕ ИНФОРМАЦИЮ ИЛИ ССЫЛКИ НА ВНЕШНИЕ РЕСУРСЫ.
					p 2.5. ПОЛЬЗОВАТЕЛЬ ПРИНИМАЕТ ПОЛОЖЕНИЕ О ТОМ, ЧТО ВСЕ МАТЕРИАЛЫ И СЕРВИСЫ САЙТА ИЛИ ЛЮБАЯ ИХ ЧАСТЬ МОГУТ СОПРОВОЖДАТЬСЯ РЕКЛАМОЙ. ПОЛЬЗОВАТЕЛЬ СОГЛАСЕН С ТЕМ, ЧТО АДМИНИСТРАЦИЯ САЙТА НЕ НЕСЕТ КАКОЙ-ЛИБО ОТВЕТСТВЕННОСТИ И НЕ ИМЕЕТ КАКИХ-ЛИБО ОБЯЗАТЕЛЬСТВ В СВЯЗИ С ТАКОЙ РЕКЛАМОЙ.
					p 3. ПРОЧИЕ УСЛОВИЯ
					p 3.1. НИЧТО В СОГЛАШЕНИИ НЕ МОЖЕТ ПОНИМАТЬСЯ КАК УСТАНОВЛЕНИЕ МЕЖДУ ПОЛЬЗОВАТЕЛЕМ И АДМИНИСТРАЦИИ САЙТА АГЕНТСКИХ ОТНОШЕНИЙ, ОТНОШЕНИЙ ТОВАРИЩЕСТВА, ОТНОШЕНИЙ ПО СОВМЕСТНОЙ ДЕЯТЕЛЬНОСТИ, ОТНОШЕНИЙ ЛИЧНОГО НАЙМА, ЛИБО КАКИХ-ТО ИНЫХ ОТНОШЕНИЙ, ПРЯМО НЕ ПРЕДУСМОТРЕННЫХ СОГЛАШЕНИЕМ.






			section.section-right
				.section-right__top
					button.top__item
						span Постамат
					button.top__item.top__item_active
						span Чат
						.people
							img(src="img/users.svg" alt="Ico")
							span 176

				.section-right__switcher
					.section-right__item

						


					.section-right__item.section-right_active
						.section-right__chatting
							.chatting__block
								.chatting__item
									.item__photo
										.photo
											img(src="img/user.jpeg" alt="User")
										.mark
											img(src="img/twitch.svg" alt="Ico")
									.item__inner
										.item__top
											h4.item__name Система
											.item__muted
												img(src="img/muted.svg" alt="Menu")
											button.item__menu
												img(src="img/chat-menu.svg" alt="Menu")
											time.item__time 12:46
										.item__text
											p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
										ul.item__dropdown
											li
												a(href="#") Скрыть сообщение
											li
												a(href="#") Заглушить
											li
												a(href="#") Блокировать 1ч
											li
												a(href="#") Бан чата
											li.li__delete
												a(href="#") Удалить
								.chatting__item.chatting__item_muted
									.item__photo
										.photo
											img(src="img/user.jpeg" alt="User")
										.mark
											img(src="img/twitch.svg" alt="Ico")
									.item__inner
										.item__top
											h4.item__name Система
											.item__muted
												img(src="img/muted.svg" alt="Menu")
											button.item__menu
												img(src="img/chat-menu.svg" alt="Menu")
											time.item__time 12:46
										.item__text
											p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
										ul.item__dropdown
											li
												a(href="#") Скрыть сообщение
											li
												a(href="#") Заглушить
											li
												a(href="#") Блокировать 1ч
											li
												a(href="#") Бан чата
											li.li__delete
												a(href="#") Удалить
								.chatting__item
									.item__photo
										.photo
											img(src="img/user.jpeg" alt="User")
										.mark
											img(src="img/twitch.svg" alt="Ico")
									.item__inner
										.item__top
											h4.item__name Система
											.item__muted
												img(src="img/muted.svg" alt="Menu")
											button.item__menu
												img(src="img/chat-menu.svg" alt="Menu")
											time.item__time 12:46
										.item__text
											p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
										ul.item__dropdown
											li
												a(href="#") Скрыть сообщение
											li
												a(href="#") Заглушить
											li
												a(href="#") Блокировать 1ч
											li
												a(href="#") Бан чата
											li.li__delete
												a(href="#") Удалить
								.chatting__item
									.item__photo
										.photo
											img(src="img/user.jpeg" alt="User")
										.mark
											img(src="img/twitch.svg" alt="Ico")
									.item__inner
										.item__top
											h4.item__name Система
											.item__muted
												img(src="img/muted.svg" alt="Menu")
											button.item__menu
												img(src="img/chat-menu.svg" alt="Menu")
											time.item__time 12:46
										.item__text
											p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
										ul.item__dropdown
											li
												a(href="#") Скрыть сообщение
											li
												a(href="#") Заглушить
											li
												a(href="#") Блокировать 1ч
											li
												a(href="#") Бан чата
											li.li__delete
												a(href="#") Удалить
								.chatting__item
									.item__photo
										.photo
											img(src="img/user.jpeg" alt="User")
										.mark
											img(src="img/twitch.svg" alt="Ico")
									.item__inner
										.item__top
											h4.item__name Система
											.item__muted
												img(src="img/muted.svg" alt="Menu")
											button.item__menu
												img(src="img/chat-menu.svg" alt="Menu")
											time.item__time 12:46
										.item__text
											p Из-за технический работ сайт может функционировать не корректно в ближайший час. Спасибо за понимание!
										ul.item__dropdown
											li
												a(href="#") Скрыть сообщение
											li
												a(href="#") Заглушить
											li
												a(href="#") Блокировать 1ч
											li
												a(href="#") Бан чата
											li.li__delete
												a(href="#") Удалить
							.section-right__resources
								a(href="#") Правила чата
								a(href="#") Пользовательское соглашение
							form(action="#").section-right__bottom
								label.textarea
									input(placeholder="Сообщение" maxlength="150")
									span.maxl 0/150
								.smiles
									img(src="img/smile-1.png" alt="Smile")
								button.send
									img(src="img/send-message.svg" alt="Ico")











		

		include includes/footer.pug
		include includes/scripts.pug
